html{
    font-size: calc(1em + 1vw);
}

body{
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#ffff;
    width:100%;
}

#index-grid{
    display: grid;
    grid-template-areas:"header header header" "main main main" "footer footer footer";
}
#logo-img{
    width:110px;
    height:110px;
    position:relative;
    top:20px;
    left:30px;
    z-index:1; /*Her har jeg brukt z-index på grunn av hvordan <nav> i
    headeren legger seg over logoen, som gjør at den ikke kan klikkes på midten.
    Med z-index på 1, og z-index på 0 i <nav>-elementet overlapper logoen <nav>,
    som løser dette problemet.*/
}

header{
    grid-area:header;
}

main{
    grid-area:main;
}

footer{
    grid-area:footer;
}


header img{
    width:110px;
    height:110px;
}

#headerbtns{
    position:relative;
    bottom:50px;
    text-align:right;
    padding-right:30px;
    z-index:0; /*z-index: 0 for å legge denne under logoen.*/
    
}

.headerbtn{
    text-decoration:none;
    color:black;
    padding:5px;
}

#contactbtn{
    text-decoration:none;
    color:black;
    border-style:solid;
    border-color:#e6bd43;
    background-color:#e6bd43;
    border-width: 10px;
}

h1{
    font-size:50px;
}

h2{
    font-size:40px;
}

h3{
    font-size:30px;
}

h4{
    font-size:30px;
}

h5{
    font-size:30px;
}

h6{
    font-size:30px;
}

#top-btn{
    background-color:#252525;
    color:white;
    border-radius:5px;
    width:40px;
    height:70px;
    text-align:center;
    position:fixed;
    left:96vw;
    top:80vh;
    z-index:2;

}

#top-btn i{
    position:relative;
    top:25%;
}


#videowrapper{
    width:100vw;
    height:30vh;
    overflow:hidden;
}

#backvideo{
    width: 100%;
}

#headline{
    text-align:center;
    position:absolute;
    z-index:1;
    top:200px;

}

#headline h2{
    font-size:60px;
    padding-bottom:50px;
}

#headline p{
    padding-left:100px;
    padding-right:100px;
    padding-bottom:50px;
}

#headline a{
    text-decoration:none;
    color:black;
    border-style:solid;
    border-color:#e6bd43;
    background-color:#e6bd43;
    border-width: 10px;
}

#subheading{
    text-align:center;
    padding:50px;
}

#aboutsection{
    background-color:#e6bd43;
    align-items:center;
    padding:20px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    padding-bottom:100px;
    
}

#aboutimg1{
    height:350px;
    width:300px;
    grid-row: span 2;
    padding-right:30px;

}

#aboutsection a{
    text-decoration:none;
    color:black;
    border-style:solid;
    border-width: 3px;
    padding:10px;
}

#ourservices{
    display:flex;
    text-align:center;
}

.ourservices-headline{
    text-align:center;
}

.ourservices-subheading{
    font-weight:bold;
}


#newsletter{
    text-align:center;
    background-color:#F3F0F1;
    height:300px
}

#newsletter h6{
    padding-top:30px;

}

#signupbox input{
    height:50px;
    width:200px;
    border-style:none;
}

#signupbox button{
    background-color:#e6bd43;
    border-style:none;
    position:relative;
    right:7px;
    height:50px;

}

footer{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    background-color:#252525;
    width:100%;
}

footer img{
    padding-left:10px;
    padding-top:2vh;
    grid-column:1;
    width:100px;
}

footer p{
    grid-column:2;
    color:white;
    text-align:center;
}

footer section{
    padding-top:50px;
    text-align:right;
}

footer a{
    grid-column:3;
    padding-left:15px;
    padding-right:10px;
    width:30px;
    height:30px;
}

footer a i{
    color:white;
}


/*About start*/

.about-grid{
    display:grid;
    grid-template-areas:"header header header" "main main main" "footer footer footer";
    width:100%;
}

#about-our-company-section{
    position:relative;
    background-image:url(ressurser/aboutimg2.png);
    background-size:cover;
    background-position:center;
    height:70vh;
    overflow:hidden;

}


#about-our-company-txt{
    display:inline-block;
    position:relative;
    top:15%;
    left:60%;
    width: 50%;
    max-width: 600px; 
    background: rgba(250, 250, 250, 0.8); /*Den siste verdien justerer gjennomsiktigheten.
    https://stackoverflow.com/questions/9182978/semi-transparent-color-layer-over-background-image*/
    line-height: 1.5;
    padding: 5px 0 1rem 1rem;

}

#about-our-company-txt a{
    text-decoration:none;
    color:black;
    border-style:solid;
    border-color:#e6bd43;
    background-color:#e6bd43;
    border-width: 10px;
    
}

#about-our-company-txt h2{
    font-size:35px;

}

#about-our-company-txt p{
    font-size:20px;

}

#clients{
    text-align:center;
    background-color:#e6bd43;
    height:350px;
}

#clients h4{
    padding-top:30px;
}

#logos{
    display:flex;
    justify-content:space-evenly;
}

#contact-us-grid{
    display:grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

#contact-us{
    margin-bottom:50px;
    display:grid;
    grid-column: span 2;
}

#contact-us h5{
    grid-column: span 2;
    text-align:center;
}

#message{
    margin-left:100px;
    padding:25px;
    grid-column:1;
    
}

#message p{
    font-size:20px;
}

#message a{
    font-size:20px;
}

#message input{
    width:500px;
}

#message button{
    margin-right:500px;
    font-size:20px;
    font-weight:bold;
    height:65px;
    margin-top:20px;
    background-color:#e6bd43;
    border-style:none;
    
}

#message button a{
    text-decoration:none;
    color:black;
}

#contactinfo{
    margin-right:100px;
    padding:25px;
    grid-column:2;
    
}

#contactinfo p{
    font-size:20px;
}

#contactinfo ul li{
    font-size: 20px;
}

#messagebox{
    height:250px;
}

#mapsection iframe{
    display:grid;
    width:100%;

}


/*About end*/
/*Products start*/

#products-grid{
    display:grid;
    grid-template-areas:"header header header" "main main main" "footer footer footer";
    width:100%;
}

#portfolio-section{
    position:relative;
    background-image:url(ressurser/aboutimg2.png);
    background-size:cover;
    background-position:center;
    height:50vh;
    overflow:hidden;
}

#portfolio-txt{
    text-align:center;
    background: rgba(250, 250, 250, 0.8);
    padding:19vh;


    
}

hr{
    height:3px;;
    border-style:none;
    background-color:#e6bd43;
    max-width:99%;
}

.products-h{
    padding-left:10px;
}


#explore-jobs-section hr{
    margin-bottom:60px;
}

#explore-jobs-section a{
    margin:10px;
    background-color:white;
    padding:10px;
    text-decoration:none;
    color:black;
    border-style:solid;
    border-width: 1px;
    font-size:25px;
}

/*Articles start*/

.p-section{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;

}

.p-section article img{
    width:100%;
    min-width:400px;
    max-width:692px;
}

.p-section article{
    margin:1em;
}


.p-article{
    flex: 1;
    max-width:686px;

}

/*Articles end*/


/*Products end*/

/*Media queries*/
@media (max-width: 960px) {
    #index-grid{
        display:grid;
        grid-template-areas:"header" "main" "footer";
    }

    #top-btn{
        display:none;
    }


    #logo-img{
        padding-top:25px;
        padding-bottom:70px;
        position:static;
    }

    #headerbtns{
        display:flex;
        flex-direction:column;
        text-align:center;
        width:119px;
        padding:0;
        margin:0;
    }

    header{
        display:flex;
        flex-direction:column;
        align-items:center;
    }


    #videowrapper{
        display:none;
    }

    #headline{ /*Bytter videoen til bilde slik som i demovideoen.*/
        position:relative;
        top:0;
        padding-top:20px;
        padding-bottom:50px;
        background-image:url(ressurser/aboutimg.png);
        box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.5); /*box-shadow kan brukes sammen med background-image
        slik at man får den hvite gjennomsiktige fargen over bildet. Den siste verdien(0.5) justerer gjennomsiktigheten.
        https://stackoverflow.com/questions/9182978/semi-transparent-color-layer-over-background-image*/

    }

    #headline h2{
        font-size:40px;

    }

    #headline p{
        font-size:22px;
    }

    #ourservices{
        display:flex;
        flex-direction:column;
        text-align:center;
    }
    
    .about-grid{
        display:grid;
        grid-template-areas:"header" "main" "footer";
    }

    #about-our-company-section{
        height:auto;
        width:100%;

    }

    #about-our-company-txt{
        display:flex;
        flex-direction:column;
        padding:25px;
        left:25%;
        top:0;
        margin-top:50px;
        margin-bottom:50px;
    }

    #ourservices article{
        padding-bottom:50px;
    }

    #aboutsection{
        display:flex;
        flex-direction:column;
        text-align:center;
    }

    #clients{
        max-height:800px;
        height:auto;
    }

    #logos{
        display:flex;
        justify-content:space-around;
        flex-flow:row wrap;
    }

    #logos img{
        margin:1em;
        flex:1;
        max-width:150px;
        max-height:150px;
    }

    #message{
        display:flex;
        flex:1;
        flex-direction:column;
        align-items:center;
        grid-column:1;
        grid-row:2;
        margin:0;
        padding:0;
    }

    #message input{
        max-width:350px;

    }

    #message button{
        margin:0;
        margin-top:20px;

    }

    #contactinfo{
        grid-column:1;
        grid-row:3;
        margin:0;
        padding:0;
    }

    #contactinfo h6{
        padding-left:50px;
    }

    #contactinfo p{
        padding-left:50px;
    }

    #contactinfo ul{
        padding-left:50px;
    }

    /*Products start*/

    #products-grid{
        grid-template-areas:"header" "main" "footer";

    }


    /*Products end*/

}




